* , 
.container {
  padding: 0;
  margin: 0;
  list-style-type: none;
  scroll-behavior: smooth;
}

body {

  background-image: url('ImageBackground.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
 
}

.jumbotron {
  text-align: center;
  color:white;
  width: 70%;
  margin: auto;
  margin-top: 100px;
  margin-left: 250px;
  padding: 15px;
  height: 700;
   
}

.jumbotron button{
  color: white;
  border-radius: 0px;
  z-index: -10;
}

.overlay  {
  background: #6c6b6e79;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  position: absolute;
  z-index: -10;
}
@media screen and (max-width: 780px )
{
    .container{
    height: 100%;
    width: 100%;
    }
    
}

